@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using DotNetNuke.Common
@using DotNetNuke.Entities.Portals
@using DotNetNuke.Entities.Users
@using NBrightCore.common
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components

@AddMetaData("resourcepath", "/DesktopModules/NBright/OS_Mollie/App_LocalResources")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@{
var info = (NBrightInfo)Model.List.First();
}

<div class="form-horizontal dnnForm">
    <input id="itemid" type="hidden" value="@info.ItemID" />
    <input id="uilang" type="hidden" value="@Model.Lang" />
    <input id="nextlang" type="hidden" value="@Model.Lang" />
    <!-- ctrl name required to pass to the settingfield.cshtml template, so it can link the order to the payment method -->
    <input id="ctrl" type="hidden" update="save" value="os_mollie" />

    <div class="row">
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <h3>@ResourceKey("Payment.checkoutdisplay")</h3>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@ResourceKey("Payment.Title")</label>
            <div class="col-sm-5">
                @NBrightTextBox(info, "genxml/lang/genxml/textbox/title", "maxlength='150'", ResourceKey("Payment.Titlevalue", info.Lang).ToString())
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@ResourceKey("Payment.Message")</label>
            <div class="col-sm-5">
                @NBrightTextArea(info, "genxml/lang/genxml/textbox/message", "height='100' maxlength='200' textmode='MultiLine' ", ResourceKey("Payment.Messagevalue", info.Lang).ToString())
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@ResourceKey("Payment.buttontext")</label>
            <div class="col-sm-5">
                @NBrightTextBox(info, "genxml/lang/genxml/textbox/buttontext", "maxlength='150'", ResourceKey("Payment.buttonvalue", info.Lang).ToString())
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@ResourceKey("Payment.checkouttemplate")</label>
            <div class="col-sm-3">
                @TextBox(info, "genxml/textbox/checkouttemplate", "class='form-control'", "methodselection.cshtml")
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@ResourceKey("Payment.imagelogo")</label>
            <div class="col-sm-3">
                @TextBox(info, "genxml/textbox/imagelogo", "class='form-control'", "logo.png")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <h3>@ResourceKey("Payment.returndisplay")</h3>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@ResourceKey("Payment.Title")</label>
            <div class="col-sm-5">
                @NBrightTextBox(info, "genxml/lang/genxml/textbox/rtntitle", "maxlength='150'", ResourceKey("CartView.PaymentComplete", info.Lang).ToString())
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@ResourceKey("Payment.Message")</label>
            <div class="col-sm-5">
                @NBrightTextArea(info, "genxml/lang/genxml/textbox/rtnmessage", "height='300' textmode='MultiLine' ", ResourceKey("Notification.checkoutsuccessmessage", info.Lang).ToString())
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <h3>@ResourceKey("Payment.failreturndisplay")</h3>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@ResourceKey("Payment.Title")</label>
            <div class="col-sm-5">
                @NBrightTextBox(info, "genxml/lang/genxml/textbox/failrtntitle", "maxlength='150'", ResourceKey("CartView.PaymentFailed", info.Lang).ToString())
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@ResourceKey("Payment.Message")</label>
            <div class="col-sm-5">
                @NBrightTextArea(info, "genxml/lang/genxml/textbox/failrtnmessage", "height='300' textmode='MultiLine' ", ResourceKey("Notification.checkoutfailmessage", info.Lang).ToString())
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <h3>@ResourceKey("Payment.OS_Molliesettings")</h3>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Mollie Api Key</label>
            <div class="col-sm-3">
                @TextBox(info, "genxml/textbox/key", "class='form-control'", "999")
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@ResourceKey("Payment.IdealOnlyLabel", info.Lang)</label>
            <div class="col-sm-5">
                <div class="dnnFormItem">
                    @CheckBox(info, "genxml/checkbox/idealonly", ResourceKey("Payment.IdealOnlyMessage", info.Lang).ToString(), "", true)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <h3>@ResourceKey("Payment.processoptions")</h3>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@ResourceKey("General.DebugMode")</label>
            <div class="col-sm-5">
                <div class="dnnFormItem">
                    @CheckBox(info, "genxml/checkbox/debugmode", ResourceKey("Settings.debugmode", info.Lang).ToString())
                </div>
            </div>
        </div>
        @if (info.GetXmlPropertyBool("genxml/checkbox/debugmode"))
        {
            <hr />
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    @info.GetXmlProperty("genxml/debugmsg")
                </div>
            </div>
        }
    </div>
</div>